
.img-container {
    height: 180px;
    width: 225px;
    background-color: #ccc;
}

.div-1 {
    height: 21.5px;
    width: 200px;
    background-color: #ccc;
    margin-top: 18.720px;
    margin-bottom: 8px;
}

.div-2 {
    height: 18.5px;
    width: 180px;
    margin-bottom: 6px;
    background-color: #ccc;
}

.div-3 {
    height: 15.5px;
    width: 160px;
    background-color: #ccc;
}

.search-div {
    height: 21.5px;
    width: 147px;
    background-color: #ccc;
    margin-top: 0.5px;
    margin-right: 1px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 2px;
}

.button-div {
    height: 21.5px;
    width: 58.24px;
    background-color: #c4c2c2;
    margin-top: 0.5px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 2px;
}